<form action="/users" method="POST" accept-charset="UTF-8">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label for="">Username:</label>
    <input type="text" name="username"><br><br>
    <label for="" name="">Email:</label>
    <input type="text" name="email"><br><br>
    <label for="" name="">Password</label>
    <input type="password" name="password"><br><br>
    <input type="submit" value="Registrar">
</form>